# ETLocal-pipeline: Final demand keys

## Setup & Imports

In [1]:
# ───────── CONFIG ─────────
API_URL       = "https://klimaatmonitor.databank.nl/jiveservices/odata"
INDICATOR_ID  = "<ADD_INDICATOR_ID>"
YEAR          = 2023
OUTPUT_PATH   = "household_final_demand_network_gas_demand.csv"

# ───────── LIBRARIES ─────────
import os
import logging
import requests
import pandas as pd
import numpy as np
import xlwings as xw
import yaml
# from dotenv import load_dotenv
from pathlib import Path
import pint

## General

### Extract

First specify general parameters

In [2]:
# Select the parent data set. Make sure to use the geo ID. It should be existing in the Dataset Manager.
parent = "nl"

# Specify the year
year = 2019

# Specify the CSV-separator (presumably either "," or ";")
sep=","

# Either specify the municipalities by using the data.csv file in the config directory.
# Make sure to specify the right separator in the pd.read_csv() function.
# path = Path("config", "data.csv")
# municipalities = pd.read_csv(path, sep=sep)['geo_id'].to_list()

# Preview municipality geo IDs
# municipalities

### Import municipalities

We first import the list of municipalities from an Excel file provided by the CBS

In [3]:
path_cbs = Path("data", "raw", f"Gemeenten alfabetisch {YEAR}.xlsx")
wb_cbs = xw.Book(str(path_cbs))
ws_cbs_municipalities = wb_cbs.sheets["Gemeenten_alfabetisch"]

df_cbs_source_data = pd.DataFrame(ws_cbs_municipalities.used_range.value)
df_cbs_source_data.columns = df_cbs_source_data.iloc[0] # set column headers
df_cbs_source_data = df_cbs_source_data[1:] # remove superfluous column headers
df_cbs_source_data = df_cbs_source_data.set_index(df_cbs_source_data.columns[1]) # take municipal code as index

# Define a list of municipalities
# municipalities = pd.read_csv(path, sep=sep)['geo_id'].to_list()
municipalities = df_cbs_source_data.index.to_list()

### Prepare empty ETLocal template

We then prepare a template for the ETLocal interface elements that this notebook is supposed to fill. 

We first read all ETLocal interface elements from a CSV file.

In [90]:
# TODO: extract ETLocal interface elements via API?

path = Path("config","etlocal_interface_elements.csv")
empty_template = pd.read_csv(path, header=[0], sep=sep)

# Add columns geo_id, value and commit to the template
for column in ['geo_id', 'value', 'commit']:
    empty_template[column] = pd.NA # pandas native NaN suitable for both strings and floats
    
# Fill the geo_id columns with all relevant municipal geo IDs
templates = []
for municipality in municipalities:
    template_to_add = empty_template.copy()
    template_to_add['geo_id'] = municipality
    templates.append(template_to_add)

template = pd.concat(templates)

# Transform the templates into a multi-index dataframe
index = pd.MultiIndex.from_frame(template[['geo_id', 'group', 'subgroup', 'key']])
template = template.drop(columns=['geo_id', 'group', 'subgroup', 'key'])
template.index = index

# Preview merged template
template.head()

object

                                                                                             unit  \
geo_id group       subgroup                  key
GM1680 agriculture agriculture_energy_demand agriculture_final_demand_electricity_demand       TJ
                                             agriculture_final_demand_network_gas_demand       TJ
                                             agriculture_final_demand_steam_hot_water_demand   TJ
                                             agriculture_final_demand_wood_pellets_demand      TJ
                                             input_agriculture_final_demand_crude_oil_demand   TJ

                                                                                             value  \
geo_id group       subgroup                  key
GM1680 agriculture agriculture_energy_demand agriculture_final_demand_electricity_demand       NaN
                                             agriculture_final_demand_network_gas_demand       NaN
                                             agriculture_final_demand_steam_hot_water_demand   NaN
                                             agriculture_final_demand_wood_pellets_demand      NaN
                                             input_agriculture_final_demand_crude_oil_demand   NaN

                                                                                             commit
geo_id group       subgroup                  key
GM1680 agriculture agriculture_energy_demand agriculture_final_demand_electricity_demand        NaN
                                             agriculture_final_demand_network_gas_demand        NaN
                                             agriculture_final_demand_steam_hot_water_demand    NaN
                                             agriculture_final_demand_wood_pellets_demand       NaN
                                             input_agriculture_final_demand_crude_oil_demand    NaN

In this notebook we limit ourselves to the Household keys.

In [91]:
template_hh = template.xs('households', level='group').copy()
template_hh.head()

                                                                                    unit  \
geo_id subgroup                 key
GM1680 households_housing_stock number_of_inhabitants                                  #
                                number_of_residences                                   #
                                residences_roof_surface_available_for_pv  km<sup>2</sup>
                                input_percentage_of_apartments                         %
                                input_percentage_of_terraced_houses                    %

                                                                         value  \
geo_id subgroup                 key
GM1680 households_housing_stock number_of_inhabitants                      NaN
                                number_of_residences                       NaN
                                residences_roof_surface_available_for_pv   NaN
                                input_percentage_of_apartments             NaN
                                input_percentage_of_terraced_houses        NaN

                                                                         commit
geo_id subgroup                 key
GM1680 households_housing_stock number_of_inhabitants                       NaN
                                number_of_residences                        NaN
                                residences_roof_surface_available_for_pv    NaN
                                input_percentage_of_apartments              NaN
                                input_percentage_of_terraced_houses         NaN

## Households

### Extract

We start by collecting the relevant data from the Klimaatmonitor data export. This results in a dataframe with key/value combinations for all Dutch municipalities.

In [6]:
## TODO write API implementation

# url     = 'https://klimaatmonitor.databank.nl/jiveservices/odata'
# headers = {'apikey': '80gluums-8qx5q-lkrf-n5lcyusqe5fzh5w9ya14uxi'}

In [12]:
# Import the Klimaatmonitor data
path_km = Path("data", "raw", f"Klimaatmonitor - {YEAR} - Gemeenten van Nederland.xlsx")
wb_km = xw.Book(str(path_km))
ws_km_source_data = wb_km.sheets["Data"]

df_km_source_data = pd.DataFrame(ws_km_source_data.used_range.value)
df_km_source_data.columns = df_km_source_data.iloc[0]
df_km_source_data = df_km_source_data[1:]
df_km_source_data = df_km_source_data.set_index(df_km_source_data.columns[1])

# Close the Excel workbook
wb_km.close()

We need to transform the municipal codes to the geo ID format that the ETM is familiar with. Thus, we need to paste "GM" and possibly some zeros in front of the code.

In [14]:
# Fill GM code to match desired area code structure
df_km_source_data.index = df_km_source_data.index.str.zfill(4).map(lambda x: 'GM' + x)

df_km_source_data.head()

,Gebieden,inwoners_2023,woningen_2023,energie_totaal_combi_2023,verk_totaal_2023,elektra_totaal_combi_2023,warm_totaal_combi_2023,zonpvachtermeter_kwh_2023,hern_warm_tot_2023,gas_woningen_tj_2023,...,efacgas_2023,vbrzg_tot_tj_2023,vbrze_tot_tj_2023,zonpvtj_2023,warelektr_2023,hern_warm_tot_ex_groengas_2023,windmw_2023,efacel_2023,warwarmte_2023,ondieptj_2023
Code,,,,,,,,,,,,,,,,,,,,,
GM1680,Nederland: Aa en Hunze,25724.0,11428.0,?,1282.0,327.0,?,13.7,None,435.0,...,0.001782,?,163.0,142.0,None,None,62.4,0.00022,0.0,0.0
GM0358,Nederland: Aalsmeer,33063.0,13460.0,2562.0,509.0,762.0,1291.0,15.6,None,416.0,...,0.001782,?,577.0,154.0,None,None,None,0.00022,0.0,6.0
GM0197,Nederland: Aalten,27244.0,12164.0,1411.0,452.0,367.0,593.0,14.0,None,382.0,...,0.001782,?,203.0,143.0,None,None,16.0,0.00022,0.0,0.0
GM0059,Nederland: Achtkarspelen,28149.0,12289.0,?,576.0,445.0,?,11.2,None,420.0,...,0.001782,?,295.0,140.0,None,None,0.7,0.00022,0.0,0.0
GM0482,Nederland: Alblasserdam,20356.0,8449.0,1519.0,464.0,425.0,631.0,5.3,None,211.0,...,0.001782,404.0,332.0,51.0,None,None,None,0.00022,0.0,3.0

Next, we collect the relevant meta data for each key (or "topic"). This provides us with information about, among others, the topic and unit for each key.

In [8]:
# Meta data is used to generate commit messages and extract the unit
path_km = Path("data", "raw", f"Klimaatmonitor - {YEAR} - Gemeenten van Nederland.xlsx")
wb_km = xw.Book(str(path_km))
ws_km_meta_data = wb_km.sheets["Onderwerp Informatie"]

df_km_meta_data = pd.DataFrame(ws_km_meta_data.used_range.value)
df_km_meta_data.columns = df_km_meta_data.iloc[0]
df_km_meta_data = df_km_meta_data[1:]
df_km_meta_data = df_km_meta_data.set_index(df_km_meta_data.columns[0])

# Close the Excel workbook
wb_km.close()

# Preview data
df_km_meta_data.head()

,Onderwerp,Eenheid,Bron,Voetnoot,Beschrijving,Gegevenstype,Laatste database wijziging
Code,,,,,,,
inwoners,Aantal inwoners,aantal,CBS - Kerncijfers Wijken en buurten,None,None,Numeriek,27-3-2025 10:04:20
woningen,Aantal woningen per 1 januari,aantal,CBS - Kerncijfers Wijken en buurten,None,None,Numeriek,27-3-2025 09:31:04
energie_totaal_combi,"Totaal bekend energieverbruik (aardgas, elektr...",TJ,Berekening (sub)totalen energieverbruik,None,None,Numeriek,9-5-2025 05:45:18
verk_totaal,Totaal bekend energieverbruik Verkeer en vervo...,TJ,Berekening energieverbruik brandstof,None,None,Numeriek,18-3-2025 08:15:49
elektra_totaal_combi,"Totaal bekend elektriciteitsverbruik, incl. zo...",TJ,Berekening (sub)totalen energieverbruik,None,None,Numeriek,9-5-2025 05:45:18

In [53]:
# DRAFT Export both KM datasets to CSV for consultation in e.g. ChatGPT
df_km_meta_data.to_csv(f"data/intermediate/df_km_meta_data.csv")
df_km_source_data.to_csv(f"data/intermediate/df_km_source_data.csv")

### Transform

TEST: we start with the households gas consumption.
1. Select relevant Code (& unit) from KM (meta) data
2. Link to relevant internal variable
3. Convert unit to internal variable unit
4. Transform internal variables to output variable
5. Link output variable to ETLocal key
6. Write commit message with explanation
7. Insert ETLocal key in template

In [84]:
variable = 'kwbgastotaal_2023'
variable_meta = 'kwbgastotaal'

# 1. Select relevant KM Code & unit
df_pipeline = df_km_source_data[[variable]].copy()
df_pipeline['Eenheid'] = df_km_meta_data.loc[variable_meta, 'Eenheid']
df_pipeline.head()

# 2. Add relevant internal variable in column
df_pipeline['internal_variable'] = 'hh_gas_tj'
df_pipeline.head()

# 3. Convert units
conversion_factor = 31.65 # TJ / miljoen m3 

df_pipeline['converted_value_TJ'] = df_pipeline[variable] * conversion_factor

# 4. Link to output variable
df_pipeline['output_variable_name'] = df_pipeline['internal_variable']
df_pipeline['output_variable_value'] = df_pipeline['converted_value_TJ']

# 5. Match with ETLocal key
df_pipeline['etlocal_key'] = 'households_final_demand_network_gas_demand'


# 6. Write commit message based on KM metadata
onderwerp = df_km_meta_data.loc[variable_meta, 'Onderwerp']
commit_message = f"Klimaatmonitor ({year}). {onderwerp} omgerekend via {conversion_factor} TJ / miljoen m3."
df_pipeline['commit'] = commit_message

df_pipeline.head()

,kwbgastotaal_2023,Eenheid,internal_variable,converted_value_TJ,output_variable_name,output_variable_value,etlocal_key,commit
Code,,,,,,,,
GM1680,12.4,miljoen m3,hh_gas_tj,392.46,hh_gas_tj,392.46,households_final_demand_network_gas_demand,Klimaatmonitor (2019). Aardgasverbruik woninge...
GM0358,11.9,miljoen m3,hh_gas_tj,376.635,hh_gas_tj,376.635,households_final_demand_network_gas_demand,Klimaatmonitor (2019). Aardgasverbruik woninge...
GM0197,10.9,miljoen m3,hh_gas_tj,344.985,hh_gas_tj,344.985,households_final_demand_network_gas_demand,Klimaatmonitor (2019). Aardgasverbruik woninge...
GM0059,12.0,miljoen m3,hh_gas_tj,379.8,hh_gas_tj,379.8,households_final_demand_network_gas_demand,Klimaatmonitor (2019). Aardgasverbruik woninge...
GM0482,6.0,miljoen m3,hh_gas_tj,189.9,hh_gas_tj,189.9,households_final_demand_network_gas_demand,Klimaatmonitor (2019). Aardgasverbruik woninge...

In [92]:
# 7. Fill template with ETLocal data
# TODO Use Roos' predefined transform.py method load_km_data

# Reset index of template for easy column comparison
template_hh_reset = template_hh.reset_index()

# Fill resetted template by looping over pipeline rows
for code, row in df_pipeline.iterrows():
    key = row['etlocal_key']
    value = row['output_variable_value']
    commit = row['commit']
    
    mask = ((template_hh_reset['geo_id'] == code) & (template_hh_reset['key'] == key))
    template_hh_reset.loc[mask, 'value'] = value
    template_hh_reset.loc[mask, 'commit'] = None
    template_hh_reset.loc[mask, 'commit'] = commit
    
# Reset MultiIndex including sort
template_hh_filled = template_hh_reset.set_index(['geo_id', 'subgroup', 'key']).sort_index()
# template_hh_filled.loc[(slice(None),slice(None),slice('households_final_demand_network_gas_demand'))]

# template_hh_filled.index.get_level_values(2).unique()
template_hh_filled.xs('households_final_demand_network_gas_demand', level='key')

,,unit,value,commit
geo_id,subgroup,,,
GM0014,households_energy_demand,TJ,2839.005,Klimaatmonitor (2019). Aardgasverbruik woninge...
GM0034,households_energy_demand,TJ,838.725,Klimaatmonitor (2019). Aardgasverbruik woninge...
GM0037,households_energy_demand,TJ,474.75,Klimaatmonitor (2019). Aardgasverbruik woninge...
GM0047,households_energy_demand,TJ,411.45,Klimaatmonitor (2019). Aardgasverbruik woninge...
GM0050,households_energy_demand,TJ,183.57,Klimaatmonitor (2019). Aardgasverbruik woninge...
...,...,...,...,...
GM1979,households_energy_demand,TJ,693.135,Klimaatmonitor (2019). Aardgasverbruik woninge...
GM1980,households_energy_demand,TJ,803.91,Klimaatmonitor (2019). Aardgasverbruik woninge...
GM1982,households_energy_demand,TJ,1152.06,Klimaatmonitor (2019). Aardgasverbruik woninge...
GM1991,households_energy_demand,TJ,724.785,Klimaatmonitor (2019). Aardgasverbruik woninge...
GM1992,households_energy_demand,TJ,822.9,Klimaatmonitor (2019). Aardgasverbruik woninge...

In [88]:
template_hh_filled.loc[slice(None),slice(None),:]

                                                                                              unit  \
geo_id subgroup                 key
GM0014 households_applications  households_final_demand_coal_households_final_d...               %
                                households_final_demand_coal_households_final_d...               %
                                households_final_demand_crude_oil_households_fi...               %
                                households_final_demand_crude_oil_households_fi...               %
                                households_final_demand_electricity_households_...               %
...                                                                                            ...
GM1992 households_housing_stock input_percentage_of_semi_detached_houses                         %
                                input_percentage_of_terraced_houses                              %
                                number_of_inhabitants                                            #
                                number_of_residences                                             #
                                residences_roof_surface_available_for_pv            km<sup>2</sup>

                                                                                    value  \
geo_id subgroup                 key
GM0014 households_applications  households_final_demand_coal_households_final_d...    NaN
                                households_final_demand_coal_households_final_d...    NaN
                                households_final_demand_crude_oil_households_fi...    NaN
                                households_final_demand_crude_oil_households_fi...    NaN
                                households_final_demand_electricity_households_...    NaN
...                                                                                   ...
GM1992 households_housing_stock input_percentage_of_semi_detached_houses              NaN
                                input_percentage_of_terraced_houses                   NaN
                                number_of_inhabitants                                 NaN
                                number_of_residences                                  NaN
                                residences_roof_surface_available_for_pv              NaN

                                                                                   commit
geo_id subgroup                 key
GM0014 households_applications  households_final_demand_coal_households_final_d...    NaN
                                households_final_demand_coal_households_final_d...    NaN
                                households_final_demand_crude_oil_households_fi...    NaN
                                households_final_demand_crude_oil_households_fi...    NaN
                                households_final_demand_electricity_households_...    NaN
...                                                                                   ...
GM1992 households_housing_stock input_percentage_of_semi_detached_houses              NaN
                                input_percentage_of_terraced_houses                   NaN
                                number_of_inhabitants                                 NaN
                                number_of_residences                                  NaN
                                residences_roof_surface_available_for_pv              NaN

[24624 rows x 3 columns]